/.DS_Store
/.idea
/log
/support_software
/api/__pycache__
/data_struct/__pycache__
/spiders/.DS_Store
/spiders/__pycache__
/spiders/isbnSpider/isbnSpider/__pycache__
/spiders/isbnSpider/isbnSpider/spiders/__pycache__
/spiders/isbnSpider/isbnSpider/data_scrapy/__pycache__/
/spiders/isbnSpider/isbnSpider/geckodriver.log
/spiders/isbnSpider/isbnSpider/mysql_pipelines/__pycache__/
/local_utils/__pycache__/
/exception/__pycache__/
/local_utils/__pycache__/
/unit_test
/proxy/__pycache__/
/proxy/proxies.txt
/spiders/isbnSpider/log/
/spiders/log/
/spiders/isbnSpider/.DS_Store
